* {
    background-color: rgb(0, 0, 0);
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

.titulo {
    font: 1.8rem Monospace;
    color: aqua;
}

h2 {
    font: 1.4rem Serif;
    color: aquamarine;
}

.linkexterno, .linkinterno {
    font: 1rem sans-serif;
    color: #ffffff;
}

.imagen {
    width: 400px;
}

.texto {
    color: #ffffff;
    column-count: 2;
    column-gap: 8rem;
}